* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
input {
  outline: none;
}
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  background: #f5f5f5;
}
table {
  border-collapse: collapse;
}
tr,
td {
  border-color: #848484;
}
.main {
  width: 1240px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
#top {
  position: relative;
  z-index: 1000;
  background: #fff;
}
#top .topbox {
  background: #363636;
  height: 36px;
  line-height: 36px;
}
#top .topbox .topleft a {
  color: #bfbfbf;
  font-size: 12px;
  padding: 0 10px;
  position: relative;
}
#top .topbox .topleft a:hover {
  color: #23ac38;
}
#top .topbox .topleft a.last {
  padding-left: 30px;
}
#top .topbox .topleft a i {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 22px;
  top: 2px;
  left: 0;
  background: url("../images/ico.png") -2px -268px no-repeat;
  animation: 0.5s roate infinite;
}
#top .topbox .topright .login a {
  color: #bfbfbf;
  font-size: 12px;
  padding: 0 10px;
}
#top .topbox .topright .login a:hover {
  color: #23ac38;
}
#top .topbox .topright span {
  color: #bfbfbf;
  padding: 0 10px;
}
#top .topbox .topright .fcode a {
  color: #bfbfbf;
  font-size: 12px;
  padding: 0 10px;
}
#top .topbox .topright .fcode a:hover {
  color: #23ac38;
}
#top .logoRegion {
  clear: both;
  position: relative;
  z-index: 1000;
  height: 118px;
}
#top .logoRegion .logo {
  float: left;
  height: 110px;
  line-height: 110px;
}
#top .logoRegion .logo a {
  width: 300px;
  height: 110px;
  display: block;
}
#top .logoRegion .seachRegion {
  padding-top: 30px;
  width: 757px;
  position: relative;
  float: right;
}
#top .logoRegion .seachRegion .seach {
  width: 546px;
}
#top .logoRegion .seachRegion .seach .seachtxt {
  width: 464px;
  height: 40px;
  text-indent: 14px;
  border: 1px solid #23ac38;
}
#top .logoRegion .seachRegion .seach .btn {
  height: 42px;
  width: 72px;
  border: none;
  cursor: pointer;
  background: #36aa3f url("../images/ico.png") no-repeat 24px -110px;
}
#top .logoRegion .seachRegion .seach .searchkey a {
  font-size: 12px;
  padding: 0 10px 0 0;
  color: #848484;
}
#top .logoRegion .seachRegion .seach .searchkey a:hover {
  color: #ed3714;
}
#top .logoRegion .seachRegion .topshopcart {
  position: relative;
}
#top .logoRegion .seachRegion .topshopcart .header-cart {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ddd;
  color: #363636;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 156px;
  z-index: 1000000;
  right: 0;
}
#top .logoRegion .seachRegion .topshopcart .header-cart i {
  display: inline-block;
  height: 15px;
  margin: 0 6px -3px 7px;
  width: 20px;
  background: url("../images/ico.png") 0 0 no-repeat;
}
#top .logoRegion .seachRegion .topshopcart .cart-tips {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 12px;
  margin-top: -2px;
  position: absolute;
  right: 0;
  top: 42px;
  width: 380px;
  z-index: 1;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
#top .logoRegion .seachRegion .topshopcart:hover .header-cart {
  background: #fff;
  z-index: 10000;
  border-bottom: none;
}
#top .logoRegion .seachRegion .topshopcart:hover .cart-tips {
  display: block;
  z-index: 1;
}
#top .navbox {
  clear: both;
  position: relative;
  z-index: 100;
}
#top .navbox .main h5 {
  width: 180px;
  text-indent: 30px;
  height: 37px;
  line-height: 37px;
  font-weight: 300;
  font-size: 14px;
  background-color: #363636;
  position: relative;
  color: #fff;
  padding-left: 30px;
  margin-right: 26px;
  opacity: 0.8;
}
#top .navbox .main h5 a {
  color: #fff;
}
#top .navbox .main h5 a i {
  background: url("../images/ico.png") no-repeat;
  background-position: 3px -300px;
  content: "";
  height: 26px;
  left: 20px;
  position: absolute;
  top: 5px;
  width: 26px;
}
#top .navbox .main h5:hover {
  opacity: 1;
}
#top .navbox .main .menu .menulist {
  float: left;
  height: 37px;
  line-height: 37px;
  padding: 0 10px;
}
#top .navbox .main .menu .menulist a {
  color: #323334;
  font-size: 15px;
}
#top .navbox .main .menu .menulist a:hover {
  color: #23AC38;
}
#top .navbox .main .menu .menulist .menuHiden {
  position: absolute;
  left: 0;
  top: 37px;
  background: #fff;
  width: 100%;
  height: 200px;
  display: none;
  border-top: 1px solid #ddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}
#top .navbox .main .menu .menulist .menuHiden .product {
  width: 1200px;
  margin: 0 auto;
}
#top .navbox .main .menu .menulist .menuHiden .product li {
  width: 150px;
  padding: 0 20px;
  margin-top: 20px;
  border-right: 1px solid #f2f2f2;
  overflow: hidden;
  float: left;
}
#top .navbox .main .menu .menulist .menuHiden .product li a img {
  width: 100%;
}
#top .navbox .hiden {
  position: relative;
}
#top .navbox .hiden .navHidden {
  position: absolute;
  top: 37px;
  width: 210px;
  left: 0;
  height: 448px;
}
#top .navbox .hiden .navHidden .list2 {
  position: relative;
}
#top .navbox .hiden .navHidden .list2 li {
  height: 56px;
  line-height: 56px;
  background: rgba(255, 255, 255, 0.68);
}
#top .navbox .hiden .navHidden .list2 li.on {
  background: rgba(255, 255, 255, 0.65);
}
#top .navbox .hiden .navHidden .list2 li:hover {
  background: #fff;
}
#top .navbox .hiden .navHidden .list2 li:hover .listhide {
  display: block;
}
#top .navbox .hiden .navHidden .list2 li a {
  color: #1b1b1b;
  margin-left: 30px;
  padding-left: 20px;
  position: relative;
}
#top .navbox .hiden .navHidden .list2 li a i {
  background: url("../images/icon.png") no-repeat;
  background-position: -9px -17px;
  content: "";
  height: 26px;
  left: -5px;
  position: absolute;
  top: 0;
  width: 26px;
}
#top .navbox .hiden .navHidden .list2 li a i.c1 {
  background-position: -9px -73px;
}
#top .navbox .hiden .navHidden .list2 li a i.c2 {
  background-position: -9px -129px;
}
#top .navbox .hiden .navHidden .list2 li a i.c3 {
  background-position: -9px -185px;
}
#top .navbox .hiden .navHidden .list2 li a i.c4 {
  background-position: -9px -241px;
}
#top .navbox .hiden .navHidden .list2 li a i.c5 {
  background-position: -9px -297px;
}
#top .navbox .hiden .navHidden .list2 li a i.c6 {
  background-position: -9px -409px;
}
#top .navbox .hiden .navHidden .list2 li a i.c7 {
  background-position: -9px -353px;
}
#top .navbox .hiden .navHidden .list2 li .listhide {
  position: absolute;
  top: 0;
  left: 210px;
  background: #fff;
  width: 1030px;
  height: 448px;
  display: none;
  z-index: 10000;
  border: 1px solid #DDDDDD;
  border-left: none;
}
#top .navbox .hiden .navHidden .list2 li .listhide .contentOne {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  width: 950px;
  height: 398px;
  float: left;
  background: #fff;
}
#top .navbox .hiden .navHidden .list2 li .listhide .contentOne dl {
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
  padding-left: 50px;
  clear: both;
}
#top .navbox .hiden .navHidden .list2 li .listhide .contentOne dl dt {
  line-height: 40px;
  margin-left: -40px;
  font-size: 13px;
  float: left;
}
#top .navbox .hiden .navHidden .list2 li .listhide .contentOne dl dd {
  line-height: 40px;
  float: left;
}
#top .navbox .hiden .navHidden .list2 li .listhide .contentOne dl dd a {
  font-size: 13px;
  padding: 0 3px;
  color: #666;
}
#top .navbox .hiden .topad {
  position: absolute;
  right: 0;
  top: 40px;
  width: 210px;
  height: 440px;
}
#top .navbox .hiden .topad .righttopad {
  margin-bottom: 4px;
  background: #fff;
}
#top .banner {
  height: 448px;
  background: #000000;
  position: relative;
}
#top .banner .pic li {
  position: absolute;
  height: 448px;
  width: 100%;
  display: none;
}
#top .banner .pic li a {
  display: block;
  height: 448px;
}
#top .banner .dot {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 1;
}
#top .banner .dot li {
  background: rgba(0, 0, 0, 0.3) !important;
  background: #000;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  height: 12px;
  margin: 1px 0 1px 15px;
  overflow: hidden;
  vertical-align: top;
  width: 12px;
  cursor: pointer;
}
#top .banner .dot li.cur {
  background: rgba(255, 255, 255, 0.9) !important;
  background: #fff;
  box-shadow: 0 0 1px #000;
  height: 12px;
  margin-top: 0;
  width: 12px;
}
#top .banner .prev {
  background: transparent url("../images/icon.png") no-repeat -179px -143px;
  border-radius: 2px;
  height: 72px;
  left: 49.6%;
  margin-top: -36px;
  position: absolute;
  top: 50%;
  width: 42px;
  z-index: 1;
  margin-left: -400px;
  cursor: pointer;
}
#top .banner .prev:hover {
  background-color: rgba(22, 22, 22, 0.5);
}
#top .banner .next {
  margin-left: 368px;
  background: transparent url("../images/icon.png") no-repeat -177px -74px;
  border-radius: 2px;
  height: 72px;
  left: 49.9%;
  margin-top: -36px;
  position: absolute;
  top: 50%;
  width: 42px;
  z-index: 1;
  cursor: pointer;
}
#top .banner .next:hover {
  background-color: rgba(22, 22, 22, 0.5);
}
#content {
  position: relative;
  z-index: 100;
}
#content .tip {
  margin-top: 12px;
  float: left;
  width: 1240px;
  overflow: hidden;
}
#content .tip ul {
  width: 1400px;
  overflow: hidden;
  height: 360px;
}
#content .tip ul li {
  float: left;
  width: 240px;
  height: 320px;
  margin-right: 10px;
  transition: all 0.5s ease;
}
#content .tip ul li:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
#content .hot {
  clear: both;
  overflow: hidden;
}
#content .hot .hline {
  height: 40px;
  line-height: 40px;
}
#content .hot .hline .tiao {
  background: url("../images/one.png") no-repeat center;
  float: left;
  height: 40px;
  margin-top: 5px;
  width: 112px;
}
#content .hot .hline .vline {
  width: 388px;
  float: left;
  display: inline-block;
  margin-top: 25px;
  opacity: 0.1;
  border-bottom: 1px #000000 solid;
}
#content .hot .hline .zi {
  color: #ef5233;
  float: left;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 240px;
}
#content .part-container {
  clear: both;
  position: relative;
  margin-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
}
#content .part-container li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#content .part-container .ac0 {
  float: left;
}
#content .part-container .ac1 {
  float: left;
  margin-left: 10px;
}
#content .part-container .ac2 {
  float: left;
  margin-left: 10px;
}
#content .part-container .ac3 {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
#content .part-container .ac4 {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
#content .part-container .ac5 {
  position: absolute;
  top: 0;
  right: 0;
}
#content .part-container li:hover img {
  opacity: 0.9;
}
#content .part-container li:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
#content .container {
  clear: both;
  overflow: hidden;
}
#content .container .part-title {
  color: #31373c;
  float: left;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 10px;
}
#content .container .part-hot {
  float: left;
  margin-top: 10px;
  padding-left: 20px;
}
#content .container ul {
  float: left;
}
#content .container ul li {
  float: left;
  padding: 0 5px;
}
#content .container ul li a {
  color: #666;
}
#content .container ul li a:hover {
  text-decoration: underline;
}
#content .container .hotsou {
  color: #8c8c8c;
  float: left;
}
#content .container .indexmore {
  float: right;
  background: url("../images/icon.png") no-repeat -150px -19px;
  color: #8c8c8c;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
  padding-right: 30px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#content .container .indexmore:hover {
  background: url("../images/icon.png") no-repeat -150px -43px;
  color: #ed3714;
}
#content .part-left {
  overflow: hidden;
  float: left;
}
#content .part-left .part-left1 {
  display: block;
  margin-right: 12px;
  overflow: hidden;
  width: 240px;
  margin-bottom: 10px;
}
#content .part-left .part-left1:hover {
  opacity: 0.9;
}
#content .part-left .part-left2 {
  display: block;
}
#content .part-left .part-left2:hover {
  opacity: 0.9;
}
#content .part-center {
  background-color: #fff;
  float: left;
  overflow: hidden;
  width: 741px;
}
#content .part-center ul li {
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  float: left;
  height: 271px;
  margin-top: -1px;
  position: relative;
  width: 236px;
  text-align: center;
}
#content .part-center ul li:hover {
  opacity: 0.9;
}
#content .part-center ul li a {
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}
#content .part-center ul li a:hover {
  text-decoration: none;
}
#content .part-center ul li a .title {
  color: #252525;
  display: block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-top: 25px;
}
#content .part-center ul li a .info {
  color: #8e8e8e;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
}
#content .part-center ul li a .price {
  color: #ed3714;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
}
#content .part-right {
  background-color: #fff;
  float: left;
  height: 542px;
  overflow: hidden;
  width: 247px;
}
#content .part-right .part-suggest-title {
  color: #252525;
  font-size: 16px;
  line-height: 32px;
  margin-top: 20px;
  margin-left: 30px;
}
#content .part-right .slideBox {
  height: 452px;
  overflow: hidden;
}
#content .part-right .slideBox .slider-film a {
  display: block;
  padding: 0 15px;
}
#content .part-right .slideBox .slider-film a dl {
  border-top: 1px solid #f1f1f1;
  height: 72px;
  margin-top: -1px;
  overflow: hidden;
  padding: 20px 0;
}
#content .part-right .slideBox .slider-film a dl dt {
  float: left;
  overflow: hidden;
}
#content .part-right .slideBox .slider-film a dl dt img {
  display: inline;
  height: 72px;
  width: 72px;
}
#content .part-right .slideBox .slider-film a dl dd {
  color: #8c8c8c;
  display: block;
  font-size: 12px;
  height: 2em;
  line-height: 2em;
  margin-left: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content .part-right .slideBox .slider-film a dl .title {
  color: #424242;
}
#content .part-right .slideBox .slider-film a dl .price {
  color: #ed3714;
}
#content .part-right .slideBox .slider-film a:hover {
  background-color: #efefef;
}
#content .part-right .slide-point {
  background: rgba(0, 0, 0, 0);
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding: 16px 14px 0 0;
  text-align: center;
}
#content .part-right .slide-point a {
  background: #f1f1f1;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  height: 6px;
  margin-left: 10px;
  vertical-align: top;
  width: 6px;
}
#content .part-right .slide-point .curr-point {
  background: #252525;
}
#content .part-title {
  color: #31373c;
  float: left;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 5px;
}
#content .newproduct-list {
  margin-left: -5px;
  clear: both;
  width: 1250px;
  overflow: hidden;
}
#content .newproduct-list li {
  float: left;
  width: 241px;
  border: 2px solid #fff;
  margin-top: 5px;
  margin-right: 5px;
}
#content .newproduct-list li:hover {
  box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.65);
  border: 2px solid #36aa3f;
  transition: border-color 0.4s ease-in-out 0s;
}
#content .newproduct-list li .new-item {
  background-color: #fff;
  display: block;
  height: 300px;
  overflow: hidden;
  padding: 10px;
}
#content .newproduct-list li .new-item dl dt {
  display: block;
}
#content .newproduct-list li .new-item dl dt img {
  display: block;
  height: 220px;
  margin: auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 220px;
}
#content .newproduct-list li .new-item dl dt img:hover {
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}
#content .newproduct-list li .new-item dl dd {
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
}
#content .newproduct-list li .new-item dl .title {
  color: #343434;
  font-size: 14px;
  height: 42px;
  overflow: hidden;
  padding-top: 12px;
}
#content .newproduct-list li .new-item dl .price {
  color: #b3b3b3;
  padding-top: 6px;
  text-align: right;
}
#content .newproduct-list li .new-item dl .price span {
  color: #ed3714;
  float: left;
  font-size: 14px;
  margin-top: -2px;
}
#content .newproduct-list li .new-item dl .price span .yen {
  font-style: normal;
  font-size: 0.85em;
  text-decoration: none;
}
#content .nomore {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #343434;
  clear: both;
}
.mod-footer {
  position: relative;
  z-index: 1;
  clear: both;
  color: #666666;
  background: #ffffff;
}
.mod-footer .foot-bannerw {
  border-top: solid 1px #E8E8E8;
  border-bottom: solid 1px #E8E8E8;
  padding: 16px 0;
  width: 100%;
  overflow: hidden;
}
.mod-footer .foot-bannerw .foot-banner {
  color: #302E33;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  width: 1240px;
}
.mod-footer .foot-bannerw .foot-banner .banner-item {
  border-right: solid 1px #E8E8E8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 60px;
  line-height: 60px;
  width: 25%;
}
.mod-footer .foot-bannerw .foot-banner .banner-item a {
  color: #302E33;
}
.mod-footer .foot-bannerw .foot-banner .banner-item i {
  border: 2px solid #23AC38;
  border-radius: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  height: 36px;
  line-height: 36px;
  margin: 10px 10px 0 0;
  vertical-align: top;
  width: 36px;
}
.mod-footer .foot-container {
  margin: 0 auto;
  padding: 30px 0;
  width: 1240px;
}
.mod-footer .foot-container .foot-con {
  float: left;
  padding-right: 0;
  width: 20%;
}
.mod-footer .foot-container .foot-con dt {
  color: #302E33;
  font-size: 16px;
  line-height: 40px;
}
.mod-footer .foot-container .foot-con dd {
  color: #848484;
  font-size: 12px;
  line-height: 30px;
}
.mod-footer .foot-container .foot-con dd a {
  color: #848484;
  text-decoration: none;
}
.mod-footer .footer-copyright {
  clear: both;
  color: #848484;
  font-size: 12px;
  line-height: 22px;
  padding: 30px 0;
  text-align: center;
  border-top: solid 1px #E8E8E8;
}
.slidebar {
  bottom: 20px;
  position: fixed;
  right: 2px;
  z-index: 99999;
}
.slidebar li {
  background: #FFF url("../images/slidebar.png") no-repeat center;
  border: 1px solid #DDD;
  display: block;
  height: 38px;
  line-height: 999;
  margin-top: -1px;
  overflow: hidden;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 38px;
  cursor: pointer;
}
.slidebar .rWeChat {
  background-position: 0 -80px;
}
.slidebar .rstore {
  background-position: 0 -120px;
}
.slidebar .topback {
  background-position: 0 -160px;
  display: none;
  text-align: center;
}
.slidebar .topback a {
  display: block;
  width: 38px;
  line-height: 18px;
  font-size: 14px;
  color: #333;
}
.slidebar .topback a:hover {
  background: #8C8C8C;
  color: #fff;
}
.floor {
  z-index: 100000000;
  position: fixed;
  bottom: 30%;
  left: 50%;
  margin-left: -690px;
  background: #fff;
  text-align: center;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.floor ul {
  border-top: 1px solid #ddd;
}
.floor ul li {
  height: 38px;
  padding: 2px 0;
  width: 40px;
  border: 1px solid #ddd;
  font-size: 12px;
  cursor: pointer;
  border-top: none;
  background-image: url("../images/icon.png") 0 0 no-repeat;
}
.floor ul li.on1 {
  background-position: -120px -429px;
}
.floor ul li.on2 {
  background-position: -120px -39px;
}
.floor ul li.on3 {
  background-position: -120px -117px;
}
.floor ul li.on4 {
  background-position: -120px -78px;
}
.floor ul li.on5 {
  background-position: -120px -156px;
}
.floor ul li.on6 {
  background-position: -120px -390px;
}
.floorshow {
  position: fixed;
  bottom: 30%;
  left: 50%;
  z-index: 100000000;
  margin-left: -690px;
  background: #fff;
  text-align: center;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.floorshow ul {
  border-top: 1px solid #ddd;
}
.floorshow ul li {
  height: 38px;
  padding: 2px 0;
  width: 40px;
  border: 1px solid #ddd;
  font-size: 12px;
  cursor: pointer;
  border-top: none;
  background-image: url("../images/icon.png");
}
.floorshow ul li a {
  color: #fff;
  display: block;
  height: 40px;
}
.floorshow ul li.on1 {
  background-position: -120px 0;
}
.floorshow ul li.on2 {
  background-position: -120px -39px;
}
.floorshow ul li.on3 {
  background-position: -120px -117px;
}
.floorshow ul li.on4 {
  background-position: -120px -78px;
}
.floorshow ul li.on5 {
  background-position: -120px -156px;
}
.floorshow ul li.on6 {
  background-position: -120px -390px;
}
.floorshow ul li:hover {
  color: #fff;
}
.floorshow ul li span {
  display: none;
}
.spanon {
  background: #8C8C8C;
  color: #fff;
}
@keyframes roate {
  0% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.list {
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #000;
}
.list .listoption {
  font-weight: 300;
  line-height: 49px;
  height: 49px;
}
.list .listoption a {
  color: #848484;
}
.list .postion dl {
  clear: both;
  line-height: 49px;
  height: 49px;
  border-top: 1px solid #e8e8e8;
}
.list .postion dl dt {
  float: left;
  width: 100px;
  color: #000;
}
.list .postion dl dd {
  float: left;
  width: 1140px;
}
.list .postion dl dd a {
  display: block;
  color: #848484;
  float: left;
  padding-right: 12px;
  width: 100px;
  overflow: auto;
}
.list .postion dl dd a:hover {
  color: #23AC38;
}
.listcontent {
  background: #f5f5f5;
  padding-bottom: 30px;
}
.listcontent ul {
  margin-left: -3px;
  margin-top: 10px;
}
.listcontent ul li {
  height: 300px;
  float: left;
  margin-right: 6px;
}
.listcontent ul li:hover .listdesc {
  height: 320px;
  z-index: 100;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.65);
  border: 3px solid #36aa3f;
  transition: border-color 0.4s ease-in-out 0s;
}
.listcontent ul li .listdesc {
  background: #fff;
  display: inline-block;
  height: 260px;
  margin: 2px;
  width: 170px;
  padding: 10px 30px;
  position: relative;
  border: 3px solid #fff;
  z-index: 80;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(153, 153, 153, 0.1);
  transition: border-color 0.4s ease-in-out 0s;
}
.listcontent ul li .listdesc .desc .pro_list img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.listcontent ul li .listdesc .desc .pro_list img:hover {
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}
.listcontent ul li .listdesc .desc .pro_list .cont {
  clear: both;
}
.listcontent ul li .listdesc .desc .pro_list .cont .title {
  color: #31373c;
  display: block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
  clear: both;
  margin-top: 10px;
}
.listcontent ul li .listdesc .desc .pro_list .cont .price {
  width: 100%;
  display: block;
  text-align: center;
  color: #fa5437;
  clear: both;
  margin-top: 10px;
}
.listcontent ul li .listdesc .desc .btns {
  width: 100px;
  height: 30px;
  border: 1px solid #fa5437;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  margin: 20px auto 0;
  clear: both;
  margin-top: 80px;
}
.listcontent ul li .listdesc .desc .btns a {
  display: block;
  color: #fa5437;
}
.listcontent ul li .listdesc .desc .btns a i {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url("../images/t010f59b0af8a644c17.png") 5px 6px no-repeat;
}
.listcontent ul li .listdesc .desc .btns a em {
  font-style: normal;
}
.listcontent ul li .listdesc .desc .btns:hover {
  background: #fa5437;
}
.listcontent ul li .listdesc .desc .btns:hover a {
  color: #fff;
}
.listcontent ul li .listdesc .desc .btns:hover a i {
  background: url("../images/t0111d0b735bbb4c459.png") 5px 6px no-repeat;
}
.listcontent ul li .listdesc:hover {
  background: #fff;
  border-bottom: 1px solid #eee \9;
  border-right: 1px solid #eee \9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.06);
}
.cont {
  background: #fff;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #000000;
}
.cont .content-left {
  width: 450px;
  margin: 10px;
  float: left;
  height: 600px;
  margin-top: 40px;
}
.cont .content-left .box {
  width: 400px;
  height: 400px;
  background: #000;
  position: relative;
  border: 1px solid #ccc;
}
.cont .content-left .box .zhezhao {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  background: #fff;
  opacity: 0;
  z-index: 100;
}
.cont .content-left .box .smallTu img {
  width: 400px;
  height: 400px;
}
.cont .content-left .box .list1 {
  width: 353px;
  overflow: hidden;
  position: relative;
  height: 84px;
  margin-left: 22px;
}
.cont .content-left .box .list1 ul {
  position: absolute;
  top: 0;
  height: 80px;
  z-index: 4;
}
.cont .content-left .box .list1 ul li {
  cursor: pointer;
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  margin-right: 3px;
}
.cont .content-left .box .list1 ul li.on {
  border: 1px solid red;
}
.cont .content-left .box .list1 ul li img {
  width: 100%;
  height: 100%;
}
.cont .content-left .box a {
  position: absolute;
  top: 402px;
  height: 84px;
  width: 20px;
  background: #000;
  opacity: 0.5;
  color: #fff;
  line-height: 80px;
  text-align: center;
}
.cont .content-left .box a.shang {
  z-index: 5;
  left: 0;
  border-radius: 5px 0 0 5px;
}
.cont .content-left .box a.xia {
  z-index: 5;
  right: 0;
  border-radius: 0 5px 5px 0;
}
.cont .content-left .box .sekuai {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #FEDE4F;
  opacity: 0.5;
  z-index: 5;
}
.cont .content-left .box .bgTu {
  position: absolute;
  left: 450px;
  top: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: none;
  border: 1px solid #ccc;
}
.cont .content-left .box .bgTu img {
  position: absolute;
  top: 0;
  left: 0;
}
.cont .content-left .box .bgTuHide {
  display: none;
}
.cont .content-right {
  width: 760px;
  margin-top: 10px;
  float: right;
  height: 400px;
  margin-top: 40px;
}
.cont .content-right .tit {
  font-size: 36px;
  line-height: 70px;
  overflow: hidden;
  width: 100%;
}
.cont .content-right .description {
  color: #666;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
  width: 100%;
}
.cont .content-right .pirve {
  color: #FA5437;
  font-size: 30px;
  background: #f8f8f8;
  height: 60px;
  line-height: 60px;
  text-indent: 5px;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}
.cont .content-right .category {
  margin-top: 30px;
  overflow: hidden;
}
.cont .content-right .category h4 {
  float: left;
  color: #848484;
  font-weight: 300;
  width: 100px;
  line-height: 40px;
  font-size: 14px;
}
.cont .content-right .category ul {
  float: left;
}
.cont .content-right .category ul li {
  float: left;
  padding: 0 20px;
  margin-right: 5px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}
.cont .content-right .category ul .zhong {
  border: 1px solid #FF694F;
  color: #FF694F;
}
.cont .content-right .num {
  clear: both;
  margin-top: 20px;
  overflow: hidden;
}
.cont .content-right .num h5 {
  float: left;
  color: #848484;
  font-weight: 300;
  width: 100px;
  line-height: 30px;
  font-size: 14px;
}
.cont .content-right .num input {
  float: left;
  height: 30px;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  width: 40px;
  text-align: center;
}
.cont .content-right .num a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: left;
  border: 1px solid #CCC;
}
.cont .content-right .nobdr {
  margin-top: 60px;
}
.cont .content-right .nobdr h6 {
  width: 200px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  font-weight: 300;
  font-size: 20px;
  background: #fa5437;
}
.cont .content-right .nobdr h6 a {
  color: #fff;
  display: block;
}
.cont .content-right .houdun {
  margin-top: 60px;
}
.cont .content-right .houdun h3 {
  font-size: 14px;
  float: left;
  color: #848484;
  font-weight: 300;
  width: 100px;
  line-height: 40px;
}
.cont .content-right .houdun p {
  float: left;
  margin-right: 20px;
  line-height: 40px;
}
.cont .content-right .houdun p i {
  background: url("../images/t01a13c1de287cb87a1.png") no-repeat;
  display: inline-block;
  height: 20px;
  margin: 10px 5px 0 0;
  vertical-align: top;
  width: 20px;
  color: #666;
}
.cont .content-right .houdun p i.o1 {
  background-position: -94px -2px;
}
.cont .content-right .houdun p i.o2 {
  background-position: -94px -24px;
}
.cont .content-right .houdun p i.o3 {
  background-position: -94px -46px;
}
.cont .content-right .houdun p i.o4 {
  background-position: -94px -68px;
}
.desc {
  background: #fff;
  overflow: hidden;
}
.desc .desctab {
  border: 1px solid #f2f2f2;
  height: 70px;
  line-height: 70px;
  margin-bottom: 10px;
}
.desc .desctab ul li {
  float: left;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
}
.desc .desctab ul li span {
  margin-left: 20px;
}
.desc .desctab ul li a {
  color: #333;
}
.desc .con {
  margin-bottom: 20px;
}
.desc .con h1 {
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.desc .con table {
  width: 100%;
}
.desc .con table tr {
  line-height: 40px;
  text-indent: 10px;
}
.desc .con h2 {
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.desc .con dl dt {
  color: #333;
  margin-bottom: 15px;
  line-height: 30px;
}
.desc .con dl dt i {
  display: inline-block;
  font-style: normal;
  font-size: 18px;
  width: 35px;
}
.desc .con dl dt em {
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  width: 35px;
  background: url("../images/wen.png") left top no-repeat;
}
.desc .con dl dd {
  color: #666;
  margin-bottom: 15px;
  line-height: 30px;
  margin-left: 35px;
}
.desc .con dl dd u {
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  width: 35px;
  background: url("../images/wen.png") left bottom no-repeat;
}
.car {
  margin-top: 20px;
  height: 1000px;
}
.car .carshop {
  background: #fff;
  overflow: hidden;
  padding-bottom: 20px;
}
.car .carshop .cartitle {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #E0E0E0;
}
.car .carshop .cartitle div {
  float: left;
}
.car .carshop .cartitle .carcheck {
  padding: 0 20px;
  width: 100px;
}
.car .carshop .cartitle .carname {
  padding: 0 20px;
  width: 500px;
}
.car .carshop .cartitle .carmoney {
  padding: 0 20px;
  width: 100px;
}
.car .carshop .cartitle .carnum {
  padding: 0 20px;
  width: 100px;
}
.car .carshop .cartitle .carcount {
  padding: 0 20px;
  width: 100px;
}
.car .carshop .cartitle .carhandle {
  padding: 0 20px;
  width: 50px;
}
.car .carshop .shopcontent {
  height: 100px;
  line-height: 25px;
  border-bottom: 1px solid #E0E0E0;
}
.car .carshop .shopcontent div {
  float: left;
}
.car .carshop .shopcontent .shopcheck {
  padding: 0 20px;
  width: 50px;
  margin-top: 10px;
}
.car .carshop .shopcontent .shopname {
  padding: 0 20px;
  width: 500px;
}
.car .carshop .shopcontent .shopname .carimg {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.car .carshop .shopcontent .shopname .carimg img {
  width: 100%;
}
.car .carshop .shopcontent .shopname p {
  float: left;
  width: 300px;
  margin-top: 10px;
}
.car .carshop .shopcontent .shopname p a {
  font-size: 18px;
  color: #424242;
  height: 50px;
}
.car .carshop .shopcontent .shopname p span {
  color: #666;
  clear: both;
}
.car .carshop .shopcontent .shopmoney {
  padding: 0 20px;
  width: 100px;
  line-height: 40px;
  padding-left: 32px;
  text-align: center;
  margin-top: 28px;
}
.car .carshop .shopcontent .shopnum {
  padding: 0 20px;
  width: 150px;
  margin-top: 32px;
  text-align: center;
}
.car .carshop .shopcontent .shopnum input {
  float: left;
  height: 30px;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  width: 40px;
  text-align: center;
}
.car .carshop .shopcontent .shopnum a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: left;
  border: 1px solid #CCC;
}
.car .carshop .shopcontent .shopcount {
  padding: 38px 20px 0 0;
  width: 130px;
  color: #36aa3f;
  font-weight: 700;
}
.car .carshop .shopcontent .shophandle {
  padding: 36px 20px 0 0;
  width: 50px;
  font-family: "微软雅黑";
  cursor: pointer;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
.car .carshop .shopcontent .shophandle span {
  display: block;
  border-radius: 50%;
  transform: rotate(0deg);
}
.car .carshop .shopcontent .shophandle span:hover {
  background: #36aa3f;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  width: 22px;
  height: 22px;
  color: #fff;
  transition: 0.5s;
  transform: rotate(360deg);
}
.car .jiesuan {
  height: 60px;
  margin-top: 20px;
  background: #fff;
}
.car .jiesuan span {
  color: #1F7F5C;
  font-weight: 700;
}
.car .jiesuan .jixu {
  line-height: 60px;
  text-indent: 20px;
  float: left;
}
.car .jiesuan .jixu a {
  color: #1F232A;
}
.car .jiesuan .jixu a:hover {
  color: #1ABC9C;
}
.car .jiesuan .gongji {
  float: left;
  line-height: 60px;
  margin-left: 30px;
}
.car .jiesuan .heji {
  float: left;
  line-height: 60px;
  width: 700px;
  text-align: right;
  font-size: 18px;
}
.car .jiesuan .gou {
  float: right;
  line-height: 60px;
}
.car .jiesuan .gou input {
  display: block;
  width: 200px;
  text-align: center;
  color: #fff;
  line-height: 60px;
  background: #36aa3f;
  border: none;
  cursor: pointer;
}
.checkbox {
  position: relative;
  overflow: hidden;
  height: 22px;
  width: 22px;
  margin: 0 8px;
  top: 18px;
}
.checkbox .checkhide {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: none;
}
.checkbox .check {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: #fff url("../images/blue.png") 0 0 no-repeat;
}
.checkbox .check:hover {
  background: #fff url("../images/blue.png") -24px 0 no-repeat;
}
.checkbox .check.checkon {
  background: #fff url("../images/blue.png") -48px 0 no-repeat;
}
.regcontent {
  overflow: hidden;
}
.regcontent .layout {
  width: 854px;
  margin: 100px auto 0;
  height: 600px;
  padding: 10px;
  background: #fff url("../images/bg.jpg") 10px -270px no-repeat;
}
.regcontent .layout .reglogo {
  text-align: center;
  margin-top: 30px;
}
.regcontent .layout .reglogo span {
  font-size: 30px;
  padding-top: 10px;
  display: block;
}
.regcontent .layout .reginput {
  margin-top: 10px;
  margin-left: 270px;
}
.regcontent .layout .reginput input {
  line-height: 40px;
  height: 40px;
  padding: 3px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  text-indent: 5px;
  color: #333;
}
.regcontent .layout .reginput .codeimg {
  width: 200px;
}
.regcontent .layout .reginput .code input {
  float: left;
}
.regcontent .layout .reginput .code img {
  width: 100px;
  height: 46px;
  border: 1px solid #ccc;
  border-left: none;
  margin-top: 20px;
  cursor: pointer;
}
.regcontent .layout .btn {
  width: 300px;
  margin-top: 10px;
  margin-left: 270px;
}
.regcontent .layout .btn input {
  background: #36aa3f;
  line-height: 48px;
  height: 48px;
  width: 308px;
  border: 1px solid #36aa3f;
  margin-top: 20px;
  text-indent: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.regcontent .layout .other {
  text-align: center;
}
.regcontent .layout .other .regline {
  width: 308px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  height: 30px;
  margin-top: 50px;
}
.regcontent .layout .other .regzi {
  background: #fff;
  margin: 0 auto;
  width: 100px;
  margin-top: -42px;
}
.regcontent .layout .regqq {
  text-align: center;
}
.regcontent .layout .regqq .regbian {
  border-radius: 50%;
  background: #0E76A8;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 10px auto 0;
}
.regcontent .layout .regqq .regbian a {
  float: left;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: url("../images/icons_type.png") -18px 0;
}
.regcontent .layout .waring {
  text-align: center;
  margin-top: 20px;
}
.regcontent .layout .waring span {
  padding: 0 25px;
  color: #999;
}
.regcontent .layout .waring span a {
  color: #333;
}
.regcontent .layout .waring span a:hover {
  color: #1F7F5C;
}
.ordercontent {
  background: #f5f5f5;
  height: 500px;
  padding-top: 50px;
}
.ordercontent .orderleft {
  float: left;
  width: 210px;
  overflow: hidden;
  background: #fff;
}
.ordercontent .orderleft .ordertitle h1 {
  height: 40px;
  background: #23ac38;
  font-weight: 300;
  font-size: 14px;
  text-indent: 25px;
  line-height: 40px;
  color: #fff;
}
.ordercontent .orderleft .ordertitle ul {
  margin-top: 10px;
}
.ordercontent .orderleft .ordertitle ul li {
  line-height: 40px;
  height: 40px;
  text-indent: 30px;
}
.ordercontent .orderleft .ordertitle ul li a {
  color: #333;
  display: block;
}
.ordercontent .orderleft .ordertitle ul li a span {
  float: right;
  padding-right: 20px;
  color: #ccc;
}
.ordercontent .orderleft .ordertitle ul li:hover {
  background: #F8F8FA;
}
.ordercontent .orderright {
  float: right;
  width: 1000px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 50px;
}
.ordercontent .orderright .orderlist {
  overflow: hidden;
}
.ordercontent .orderright .orderlist h2 {
  font-size: 14px;
  text-indent: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
}
.ordercontent .orderright .orderlist .carshop {
  overflow: hidden;
  padding-bottom: 20px;
}
.ordercontent .orderright .orderlist .carshop .cartitle {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #E0E0E0;
}
.ordercontent .orderright .orderlist .carshop .cartitle div {
  float: left;
}
.ordercontent .orderright .orderlist .carshop .cartitle .carcheck {
  padding: 0 10px;
  width: 100px;
}
.ordercontent .orderright .orderlist .carshop .cartitle .carname {
  padding: 0 20px;
  width: 400px;
}
.ordercontent .orderright .orderlist .carshop .cartitle .carmoney {
  padding: 0 20px;
  width: 100px;
}
.ordercontent .orderright .orderlist .carshop .cartitle .carnum {
  padding: 0 20px;
  width: 80px;
}
.ordercontent .orderright .orderlist .carshop .cartitle .carcount {
  padding: 0 20px;
  width: 50px;
}
.ordercontent .orderright .orderlist .carshop .cartitle .carhandle {
  padding: 0 20px;
  width: 50px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent {
  height: 100px;
  line-height: 25px;
  border-bottom: 1px solid #E0E0E0;
}
.ordercontent .orderright .orderlist .carshop .shopcontent div {
  float: left;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopcheck {
  padding: 0 20px;
  width: 50px;
  margin-top: 10px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopname {
  padding: 0 10px;
  width: 400px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopname .carimg {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopname .carimg img {
  width: 100%;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopname p {
  float: left;
  width: 300px;
  margin-top: 10px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopname p a {
  font-size: 18px;
  color: #424242;
  height: 50px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopname p span {
  color: #666;
  clear: both;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopmoney {
  padding: 0 20px;
  width: 100px;
  line-height: 40px;
  padding-left: 32px;
  text-align: center;
  margin-top: 28px;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopnum {
  padding: 0 20px;
  width: 120px;
  margin-top: 32px;
  text-align: center;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopnum input {
  float: left;
  height: 30px;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  width: 40px;
  text-align: center;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopnum a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: left;
  border: 1px solid #CCC;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shopcount {
  padding: 38px 20px 0 0;
  width: 90px;
  color: #36aa3f;
  font-weight: 700;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shophandle {
  padding: 36px 20px 0 0;
  width: 50px;
  font-family: "微软雅黑";
  cursor: pointer;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shophandle span {
  display: block;
  border-radius: 50%;
  transform: rotate(0deg);
}
.ordercontent .orderright .orderlist .carshop .shopcontent .shophandle span:hover {
  background: #36aa3f;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  width: 22px;
  height: 22px;
  color: #fff;
  transition: 0.5s;
  transform: rotate(360deg);
}
.ordercontent .orderright .orderlist .jiesuan {
  height: 60px;
  margin-top: 20px;
  background: #fff;
}
.ordercontent .orderright .orderlist .jiesuan span {
  color: #1F7F5C;
  font-weight: 700;
}
.ordercontent .orderright .orderlist .jiesuan .jixu {
  line-height: 60px;
  text-indent: 20px;
  float: left;
}
.ordercontent .orderright .orderlist .jiesuan .jixu a {
  color: #1F232A;
}
.ordercontent .orderright .orderlist .jiesuan .jixu a:hover {
  color: #1ABC9C;
}
.ordercontent .orderright .orderlist .jiesuan .gongji {
  float: left;
  line-height: 60px;
  margin-left: 30px;
}
.ordercontent .orderright .orderlist .jiesuan .heji {
  float: right;
  line-height: 60px;
  padding-right: 20px;
  width: 700px;
  text-align: right;
  font-size: 18px;
}
.ordercontent .orderright .orderlist .address {
  height: 500px;
  background: #fff;
  padding: 30px;
}
.ordercontent .orderright .orderlist .address .addressname {
  margin-top: 20px;
}
.ordercontent .orderright .orderlist .address .addressname span {
  width: 100px;
  display: inline-block;
}
.ordercontent .orderright .orderlist .address .addressname input {
  line-height: 30px;
  height: 30px;
  width: 400px;
}
.ordercontent .orderright .orderlist .address .addressname textarea {
  height: 200px;
  margin-top: 20px;
  margin-left: 100px;
  outline: none;
  width: 80%;
}
.ordercontent .orderright .orderlist .address .addbtn {
  width: 400px;
  margin-top: 30px;
  margin-left: 100px;
}
.ordercontent .orderright .orderlist .address .addbtn input {
  border: none;
  line-height: 40px;
  height: 40px;
  text-align: center;
  background: #1ABC9C;
  width: 100px;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */